#login{
    text-align: center;
}
#error{
    color: red;
}

#createAcct{
    position: relative;
    bottom: -150px;
    text-align: center;
    width: 100%;
    color: green;
    font-weight: bold;
    height: 30px;
}

#leftSide{
    text-align: left;
    margin-left: 42%;
}
