<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-option-vertical" ></span>
            </button>
            <span class="glyphicon glyphicon-home navbar-brand" style="padding: 13px 15px 0 0;" ></span>
            <a class="navbar-brand" href="#/home">Pillstr</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" data-toggle="collapse" data-target="#hamburger">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="leftSide">
    <form  novalidate class="simple-form">
       Name: <input type="text" ng-model="namE" placeholder="Enter Name Here"/><br /><br />
       Email: <input type="text" ng-model="email" placeholder="Enter Email Here" /><br /><br />
       Password: <input type="password" ng-model="password" placeholder="Enter Password Here" /><br /><br />

    </form>
</div>
<div >
    <input id="createAcct" type="button" ng-click="createNewAcct()" value="Create Account" />
</div>
</body>
</html>