<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="glyphicon glyphicon-home navbar-brand" style="padding: 13px 15px 0 0;" ></span>
            <a class="navbar-brand" href="#/home">Pillstr</a>
        </div>
    </div>
</nav>

<div id="title">
    <h3>Welcome to Pillstr</h3>
    <form novalidate class="simple-form">
        <input type="text" ng-model="username" placeholder="Username"/><br /><br />
        <input type="password" ng-model="password" placeholder="Password" /><br /><br />

        <input type="button" ng-click="login()" value="Sign In" />
        <h4 id = "error" ng-if='state == false'>*Login Error. Please re-enter the correct email and password.</h4>
    </form>
</div>

<div >
    <input id="createAcct" type="button" ng-click="createAcct()" value="Create Account" />
</div>

</body>
</html>