<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-option-vertical" ></span>
            </button>
            <span class="glyphicon glyphicon-home navbar-brand" style="padding: 13px 15px 0 0;" ></span>
            <a class="navbar-brand" href="#/home">Pillstr</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/home" data-toggle="collapse" data-target="#hamburger">Home</a></li>
                <li><a href="#/prescriptions" data-toggle="collapse" data-target="#hamburger">My Prescriptions</a></li>
                <li><a href="#/settings" data-toggle="collapse" data-target="#hamburger">Settings</a></li>
                <li><a href="#/login" data-toggle="collapse" data-target="#hamburger">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<h3>Prescriptions page</h3>
</body>
</html>