<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-option-vertical" ></span>
            </button>
            <span class="glyphicon glyphicon-home navbar-brand" style="padding: 13px 15px 0 0;" ></span>
            <a class="navbar-brand" href="#/home">Pillstr</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/home" data-toggle="collapse" data-target="#hamburger">Home</a></li>
                <li><a href="#/prescriptions" data-toggle="collapse" data-target="#hamburger">My Prescriptions</a></li>
                <li><a href="#/settings" data-toggle="collapse" data-target="#hamburger">Settings</a></li>
                <li><a href="#/login" data-toggle="collapse" data-target="#hamburger">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--<h3>Prescriptions page</h3>-->
<div class="prescriptions">
    <div class="prescription" ng-repeat="prescription in prescriptions">
        <div class="remind">
            <input type="checkbox" ng-model="prescription.remind"/>
        </div>
        <div class="prescriptionBox">
            <div class="prescriptionTitleBar">
                <span class="pillImage">
                    <img src="http://placehold.it/200x200" style="width:1em; height:1em;"/>
                </span>
                <span class="prescriptionQuantityDisplay">
                    x{{prescription.dosage}}
                </span>
                <span class="prescriptionName">
                    <input type="text" ng-model="prescription.displayName" ng-disabled="!prescription.editing"/>
                </span>
                <div class="editControls">
                    <a href="#" onclick="return false;" ng-if="!(isEditing(prescription))" ng-click="edit(prescription)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <input type="button" value="Save" ng-if="isEditing(prescription)" />
                    <input type="button" value="Cancel" ng-if="isEditing(prescription)" ng-click="cancelEdit(prescription)" />
                </div>
            </div>
            <div class="prescriptionContentBox">
                <div class="quantityControl">
                    <input type="number" ng-model="prescription.quantity" ng-disabled="!prescription.editing"> remaining
                </div>
                <div class="quantityControl">
                    Take <input type="number" ng-model="prescription.dosage" ng-disabled="!prescription.editing"/> each time
                </div>
                <div class="event" ng-repeat="event in prescription.metaEvents">
                    {{event}}
                    <div class="prescriptionDaySelector">
                        Remind to take on:
                        <ul class="dayList">
                            <li ng-repeat="day in days">
                                <label ng-class="{'selected': isDayChecked(event, day), 'clickable': prescription.editing}" class="noSelect">
                                    {{day.display}}
                                    <input type="checkbox" value="{{day.val}}" name="days[]" ng-click="toggleDay(event, day)" ng-disabled="!prescription.editing"/>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="prescriptionTimeSelector">
                        Remind to take at:
                        <input type="time" value="{{padTime(event.hour)}}:{{padTime(event.minute)}}" ng-disabled="!prescription.editing"/>
                    </div>
                </div>
                <div class="prescriptionDescription">

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer addButton">
    <a href="#" onclick="return false;" ng-click="addPrescription()">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</footer>
</body>
</html>